manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: urob
      url-base: https://github.com/urob
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml
    # urob's tri-state module for better app-switcher (Cmd+Tab) behavior
    - name: zmk-tri-state
      remote: urob
      revision: main
  self:
    path: config
